* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
  }

body {
    /* background: url('../img/9.jpg') repeat; */
    background: black;
    background-size: cover;
    padding-top: 1rem;
    color: rgb(253, 251, 251);
    font-size: 1.2em;
    font-family: 'Atlas', sans-serif;
    text-shadow: 3px 3px 5px rgb(8, 8, 8);
}
.resume {
    display: grid;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 900px;
    height: 1272px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows   : repeat(4, 1fr);
    grid-gap             : 5px;
    grid-template-areas  :
        "name  photo"
        "work  about"
        "work  education"
        "community  skills";
}

.circle {
    border: 0px solid rgb(150, 145, 145);
    height: 10em;
    width: 10em;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px -1px 1px rgba(17, 17, 17, 0.541),
    1px 1px 2px rgba(250, 248, 248, 0.514);
    
}

#profile-picture {
    height: 12em;
    position: absolute;
    display: block;
    top: 0;
    left: 0.4em;    
    
}

.grid-area {
    padding: 1em 1em 1em 1em;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    background: inherit;
    background-color: rgba(253, 251, 251, 0.5);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(7, 7, 7, 0.3),
    3px 3px 0px rgba(8, 8, 8, 0.719),
    -0px -1px 0px rgba(247, 246, 246, 0.3),
    -1px -0px 0px rgba(250, 249, 249, 0.438); 
    
}

.grid-area:hover {
    border: 1px solid rgba(255, 255, 255, 0.932);
    box-shadow: 2px 2px 2px rgba(250, 248, 248, 0.4), inset 0 0 3000px rgba(204, 186, 23, 0.445);
    right: 2px;
    bottom: 2px;
    filter: blur(0px);
    
}

#photo:hover #circle {
    border: 0px solid rgb(253, 252, 252);
    box-shadow: 0px -2px 3px rgba(250, 249, 249, 0.384),
    3px 2px 3px rgb(0, 0, 0);
    
}
#name {
    grid-area: name;
}
#name-surname {
    text-transform: uppercase;
    font-size: 2.3em;
    
}

#photo {
    grid-area: photo;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#about {
    grid-area: about;
        
}

#work {
    grid-area: work;
}

#skills {
    grid-area: skills;
}

#education {
    grid-area: education;
}

#community {
    grid-area: community;
}

.wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grid-area:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 300px rgba(255,255,255,.5); */
    filter: blur(10px);
    margin: -20px;
    
}



@media only screen and (max-width: 850px) {

    .resume {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
}