/*reusables

-colors-
bright yellow   |   color: rgb(255, 230, 0);
dark grey       |   color: 
job h1 h2       |   color: #999;
silver fox      |   color: #d4d4dc;
are ya yellow   |   color: #feda6a;
deep matte grey |   color: #393f4d;
dark slate      |   color: #1d1e22;
charcoal black  |   color: #040404;

-backgrounds-
work timeline   |   background: rgba(253, 250, 250, 0.03);
-borders-
grid:           |   1px solid rgba(255,255,255,.3);
grid:hover      |   border: 1px solid rgba(255, 255, 255, 0.932);
work timeline   |   border-left: 0.25em solid rgb(255, 230, 0);
work timeline h1|   border-bottom: 1px solid rgb(255, 230, 0, 0.2);

-font-size-
body            |   font-size: 1.2em; 
h1              |   font-size: 1.4em;
h2              |   font-size: 1.0em;
p               |   font-size: 0.8em;



/*===================== Document: general typography and background =====================*/

* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
}

body {
    background: #010101;
    background: url('../img/26.jpg') no-repeat;
    background-size: cover;
    padding-top: 1rem;
    color: rgb(253, 251, 251);
    font-size: 1.2em;
    font-family: 'Atlas', sans-serif;
    text-shadow: 3px 3px 5px rgb(7, 7, 7);
    min-width: 300px;
    
    
}

nav {
    background: transparent;
    /*background: #222;*/
    padding: 0 0.5em 0 0;
    margin: 0 0.6em 0 0.6em;
    border-bottom: 2px solid rgb(255, 230, 0);

}

.wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.5em; 
}

footer {
    display: flex;
    position: relative;
    
}  

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.8em;
}

p {
    font-size: 0.8em;
}

a {
    color: white;
    
}


/*================================== Navigation ===================================*/

/********** Basic layout **********/
    nav a {
        color: white;
        text-decoration: none;
    }
  
    .menu,
    .submenu {
        list-style-type: none;
    }
    .logo {
        font-size: 1.5em;
        color: rgb(255, 230, 0);
        
    }
    .item {
        padding: 0.8em;
    }
    .item.button {
        padding: 0.8em 0.4em;
    }
    .item:not(.button) a:hover,
    .item a:hover::after {
        color: rgb(255, 230, 0);
    }
  
/* Mobile menu */
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    
    }
    .menu li a {
        display: block;
        padding: 0.8em 0.3em;
    }

    .menu li.subitem a {
        padding: 0.8em;
    }
    .toggle {
        order: 1;
        font-size: 20px;
    }
    .item.button {
        order: 2;
    }
    .item {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }
  .active .item {
        display: block;
    }
    .button.secondary {
        border-bottom: 1px solid rgb(255, 230, 0); /*divider line*/
    }
  
/* Submenu up from mobile screens */
    .submenu {
        display: none;
    }
    .submenu-active .submenu {
        display: block;
    }
    .has-submenu i {
        font-size: 12px;
    }
    .has-submenu > a::after {
        font-family: "Font Awesome 5 Free";
        font-size: 0.8em;
        line-height: 16px;
        font-weight: 900;
        content: "\f078";
        color: rgb(255, 230, 0);
        padding-left: 0.5em;
    }
    
    .submenu li:first-child {
        border-top: 1px solid rgb(255, 230, 0, 0.2);
    }
    .subitem a {
        padding: 10px 15px;

    }
    .submenu-active {
        background: #04040491;
        border: 1px solid rgb(255, 230, 0);
        text-shadow: 8px 8px 8px rgb(7, 7, 7);
        border-radius: 3px;
    }

/*********navigation responsive*********/  
    /* Tablet menu */
    @media all and (min-width: 700px) {
        .menu {
            justify-content: center;
        }
        .logo {
            flex: 1;
        }
        .item.button {
            width: auto;
            order: 1;
            display: block;
        }
        .toggle {
            flex: 1;
            text-align: right;
            order: 2;
        }
        /* Button up from tablet screen */
        .menu li.button a {
            padding: 10px 15px;
            margin: 5px 0;
        }
        
        .button.secondary {
            border: 0;
        }
        .button.secondary a {
            background: transparent;
            border: 1px solid rgb(255, 230, 0);
        }
       
        .button.secondary a:hover {
            background: rgb(255, 230, 0);
            border-color: rgb(3, 3, 3);
            
        }
    }
    /* Desktop menu */
    @media all and (min-width: 900px) {
    
        nav {
            position: relative;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        
        .menu {
            align-items: flex-start;
            flex-wrap: nowrap;
            background: none;
        }
        .logo {
            order: 0;
        }
        .item {
            order: 1;
            position: relative;
            display: block;
            width: auto;
        }
        .button {
            order: 2;
        }
        .submenu-active .submenu {
            display: block;
            position: absolute;
            left: 0;
            top: 68px;
            background: rgb(0, 0, 0);
        }
        .toggle {
            display: none;
        }
        .submenu-active {
            border-radius: 0;
            border: none;
            z-index: 100;
            background: rgb(0, 0, 0);
            
            
            
        }
        .submenu li {
            border-top: 1px solid rgb(255, 230, 0, 0.2);
        }
    }

/*===================== Resume: grid area setup 2 col x 4 row =====================*/


.resume {
    display: grid;
    justify-content: center;
       
    width: 900px;
    height: 1272px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "name  photo"
        "work  about"
        "work  skills"
        "education  languages";
}

hr {
    color: white;
}
.grid-area {
    padding: 1em 1em 1em 1em;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    background: inherit;
    background-color: rgba(253, 251, 251, 0.5);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(7, 7, 7, 0.979),
    3px 3px 10px rgb(8, 8, 8),
    -0px -1px 0px rgba(247, 246, 246, 0.3),
    -1px -0px 0px rgba(250, 249, 249, 0.438);    
}

.grid-area:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 300px rgba(255,255,255,.5); */
    filter: blur(10px);
    margin: -20px; 
}

.grid-area:hover:not(#photo) {
    border: 1px solid rgba(255, 255, 255, 0.932);
    box-shadow: 2px 2px 4px rgba(250, 248, 248, 0.411), inset 0 0 3000px rgba(204, 186, 23, 0.445);
    right: 2px;
    bottom: 2px;
    /*filter: blur(0px);*/
    
}
/************ 7 grids ************/
#name {
    grid-area: name;
}

#photo {
    grid-area: photo;
}

#about {
    grid-area: about;
        
}

#work {
    grid-area: work;
}

#skills {
    grid-area: skills;
}

#education {
    grid-area: education;
}

#languages {
    grid-area: languages;
}

/*====================================== Grids: layout ======================================*/

/************** Grid 1: introduction **************/
                #name-surname {
                    text-transform: uppercase;
                    font-size: 2.3em;
                    color: rgb(255, 230, 0);
                    font-weight: bold;
                    text-shadow: 5px 5px 5px rgb(7, 7, 7);
                  
                }
                #name {
                    border: 1px solid rgba(255, 255, 255, 0.932);
                    box-shadow: 2px 2px 2px rgba(250, 248, 248, 0.4), inset 0 0 3000px rgba(204, 186, 23, 0.445);
                }

                #name:hover {
                    box-shadow: 2px 2px 4px rgba(250, 248, 248, 0.411)
                }



/************** Grid 2: picture ***************/
                #photo {
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                    border: 1px solid rgba(255, 255, 255, 0.932);
                } 

                #photo:hover {
                    border: 1px solid rgba(255, 255, 255, 0.932);
                    box-shadow: 2px 2px 4px rgba(250, 248, 248, 0.411);
                    right: 2px;
                    bottom: 2px;
                } 

                .circle {
                    
                    height: 10em;
                    width: 10em;
                    /*border-top: 2px solid rgba(204, 186, 23, 0.253);
                    border-left: 2px solid rgba(204, 186, 23, 0.226);*/
                    border-radius: 50%;
                    position: relative;
                    margin: 0 auto;
                    overflow: hidden;
                    box-shadow:                  
                    0px 2px 5px rgba(7, 0, 0, 0.589),
                    3px 2px 8px rgb(255, 238, 2);                  
                    
                    
                    
                }

                #profile-picture {
                    height: 12em;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0.4em;  
                    
                    
                }

                
/************** Grid 3: about **************/
                .about-box {
                    height: 87%;
                    text-align: center;
                    margin: 0.5em auto;
                    padding: 1em 0em 1em 0em;
                    background: rgba(253, 250, 250, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }

                #about:hover .about-box {
                    border: 2px solid rgba(7, 7, 7, 0.986);
                    background: #04040491;
                    border: 1px solid rgb(255, 230, 0);
                    text-shadow: 8px 8px 8px rgb(7, 7, 7);
                }

/************** Grid 4: work experience timeline **************/   
                
                /************** General **************/        
            
                .work-box {
                    text-align: center;
                    overflow-y: scroll;
                    height: 100%;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    
                }
                .work-box::-webkit-scrollbar {
                    display: none;
                }

                /************** Timeline **************/
                .timeline {
                    border-left: 0.25em solid rgb(255, 230, 0);
                    margin: 2em auto;
                    padding: 2.5em 0em 2em 1.5em;
                    list-style-type: none;
                    text-align: right;
                    margin-left: 4.3em;
                    border-radius: 0.5em;
                    background: rgba(253, 250, 250, 0.03);
                    /*min-width: 15em;*/
                }

                #work:hover .timeline {
                    border: 2px solid rgba(7, 7, 7, 0.986);
                    background: #04040491;
                    border-left: 0.25em solid rgb(255, 230, 0);
                    border-right: 1px solid rgb(255, 230, 0);
                    border-top: 1px solid rgb(255, 230, 0);
                    border-bottom: 1px solid rgb(255, 230, 0);
                    text-shadow: 8px 8px 8px rgb(7, 7, 7);
                }

                .event {
                    /*min-width: 15em;*/
                    width: 100%;
                    vertical-align: middle;
                    box-sizing: border-box;
                    position: relative;
                    padding-right: 1em
                }

                .timeline .event:before,
                .timeline .event:after {
                    position: absolute;
                    display: block;
                    top: 1em;
                }

                .timeline .event:before {
                    left: -10em;
                    top: 0.9em;
                    color: rgba(255, 255, 255, 0.8);
                    content: attr(data-date);
                    text-align: center;
                    font-weight: 100;
                    font-size: 0.9em;
                    min-width: 9em;
                }

                .timeline .event:after {
                    content: "";  
                    left: -2.0em;
                    background: black;
                    border-radius: 50%;
                    height: 0.75em;
                    width: 0.75em;
                    box-shadow: 0 0 0 0.2em rgb(255, 230, 0);
                }

                .timeline .event .job-detail,
                .timeline .event .job-discription {
                    display: block;
                }

                /************** Infos - Title - Detail **************/
                .job-infos {
                    padding: 0.6em 0 1em 0;
                    text-align: left;
                    position: relative;
                    
                }

                .job-infos > h1 {
                    font-family: 'Atlas', sans-serif;
                    letter-spacing: 1.5px;
                    font-size: 1.5em;
                    font-weight: bold;
                    color: #999;
                    margin: 0;
                    border-bottom: 0px solid rgb(255, 230, 0, 0.2);
                    box-shadow: 0px 2px rgb(255, 230, 0, 0.2);
                    padding-bottom: 0.2em;                   
                }
                
                .job-title {
                    cursor: context-menu;
                    
                }
                
                .job-detail {
                    border-bottom: 1px solid rgb(255, 230, 0, 0.5);
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.5s ease-in;              
                }
                .active + .job-detail {
                    max-height: 100%;
                    transition: max-height .6s ease-in;
                    
                  }
                
             
                
                .job-detail > h2 {
                    font-family: 'Atlas', sans-serif;
                    letter-spacing: 1.5px;
                    color:  #999;
                    font-weight: 200;
                    font-size: 1.0em;
                    padding-top: 0.3em;
                }

                .job-discription-list > li {
                    font-family: 'Atlas', sans-serif;
                    color:  rgb(252, 249, 249);
                    font-size: 0.8em;
                    padding-top: 0.3em;
                    margin-left: 1em;
                    list-style-type: circle;
                    display: list-item;
                    
                }

                .job-discription-list:last-child {
                    padding-bottom: 0.5em;
                }

                li .company {
                    color: rgb(255, 230, 0);
                }

                li .reference {

                }

                li .employer-website {
                    
                }

/************** Grid 5: skills and certificates **************/
                
                /************** General **************/
                
                #skills:hover .skills-box {
                    border: 1px solid rgba(32, 32, 32, 0.932);
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    background: #010101;
                    right: 2px;
                    bottom: 2px;
                }
                .skills-box {
                    height: 87%;
                    margin: 0.5em auto;
                    background: rgba(253, 250, 250, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }
                .skills-box:hover {
                    
                    
                    /*filter: blur(0px);*/
                    
                }
                
                .skills-tab {
                    width: 100%;
                    overflow: hidden;
                    /*border-bottom: 2px solid rgb(255, 230, 0);*/
                    border-radius: 3px;
                    /*background-color: rgb(255, 230, 0);*/
                    display: flex;
                    justify-content: space-evenly;
                }
                .skills-tab button {
                    float: left;
                    width: 33.3333%;
                    border: none;
                    /*border: 2px solid rgb(247, 6, 6);*/
                    background: rgba(253, 250, 250, 0.03);;
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    border-radius: 3px;
                    cursor: pointer;
                    color:   rgb(255, 230, 0);
                    font-size: 0.9em;
                }
                .skills-tab button:hover {
                    background-color: rgba(253, 250, 250, 0.03);
                    
                }
                .skills-tab button.active {
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    background-color: rgba(253, 250, 250, 0.03);
                    border-bottom: 2px solid rgb(255, 230, 0);
                }
                
                .skill-div {
                    display: none;
                    padding-top: 0.5em;
                }
                
                .skill-div:first-child {
                    display: block;
                    padding-top: 0.5em;
                }

                .skill-div p {

                }
                
                .skill-div h3 {

                }
    

/************** Grid 6: languages bar **************/
                
             
                .language-box {
                    /*width: 500px;*/
                    /*margin: 60px auto;*/
                    color: white;
                    list-style: none;
                    /*background: rgba(253, 250, 250, 0.03);*/
                    
                    
                }
                
                .language-box li {
                    margin: 0.9em 0;
                    
                    
                }
                .language-box li p {
                    margin: 0.2em 0;
                    font-size: 0.8em;
                    padding-bottom: 0.2em;
                    
                }
                
                .language-bar {
                    background: #080808;
                    display: block;
                    height: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                    box-sizing: initial;
                    box-shadow: 0 0 5px rgb(255, 230, 0);
                }
                
                .language-bar span {
                    height: 3px;
                    float: left;
                    background: rgb(255, 230, 0);
                    box-sizing: initial;
                    
                    
                }
                
                .language-bar span:after {
                    content: "";
                    height: 3px;
                    width: 4px;
                    float: right;
                    background: rgb(255, 230, 0);
                    box-shadow: 2px 0px 6px rgb(255, 230, 0),
                    0px 2px 6px rgb(255, 230, 0),
                    -2px 0px 6px rgb(255, 230, 0),
                     0px -2px 6px rgb(255, 230, 0);
                    box-sizing: initial;
                    color: rgb(255, 230, 0);
                    
                }

                
                #languages:hover #dutch {
                    width: 97%;
                    animation: dutch 2s;
                }                
                #languages:hover #english {
                    width: 85%;
                    animation: english 2s;
                }                
                #languages:hover #french {
                    width: 75%;
                    animation: french 2s;
                }                
                #languages:hover #german {
                    width: 60%;
                    animation: german 2s;
                }                
                #languages:hover #croatian {
                    width: 25%;
                    animation: croatian 2s;
                }                
                    @keyframes dutch {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 97%;
                        }
                    }                    
                    @keyframes english {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 85%;
                        }
                    }                    
                    @keyframes french {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 75%;
                        }
                    }                    
                    @keyframes german {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 60%;
                        }
                    }                    
                    @keyframes croatian {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 25%;
                        }
                    }

/************** Grid 7: education **************/             
                .education-box {
                    height: 87%;
                    text-align: center;
                    margin: 0.5em auto;
                    padding: 1em;
                    background: rgba(253, 250, 250, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }      
                
                #education:hover .education-box {
                    border: 2px solid rgba(7, 7, 7, 0.986);
                    background: #04040491;
                    border: 1px solid rgb(255, 230, 0);
                    text-shadow: 8px 8px 8px rgb(7, 7, 7);
                 
                }

                .education-box h2 {
                    color: rgb(255, 230, 0);
                    font-size: 1.2em;
                }

                .education-box h3 {
                    color: rgb(255, 230, 0);
                    font-size: 0.8em;
                }

               .education-box hr {
                    border-top: 1px solid rgb(255, 230, 0, 0.2);
                    border-bottom: transparent;
                    border-left: transparent;
                    border-right: transparent;
                    width: 60%;
                    margin: 1em auto;
                    height: 1px;
                }

/*=================================== Footer ===================================*/                
    
 
footer {
    max-width: 900px;
    height: 2em;
    border-top: 2px solid rgb(255, 230, 0);
    background: transparent;
    margin-left: auto;  /* center when fullscreen */
    margin-right: auto; 
}  

@media only screen and (max-width: 900px) {
   
    footer {
        margin: 0 0.6em 0 0.6em;
        
    }
}      
/*=================================== Responsive ===================================*/
            


@media only screen and (max-width: 810px) {
    .job-infos > h1 {
        font-size: 1.3em; /* fallback */
        font-size: 3.4vw;       
        
    }

    .about-text:last-child {
        font-size: 0.61em;
        font-size: 1.7vw;
    }   
}

@media only screen and (max-width: 700px) {

    
    /*********** Reposition body & background ***********/
    body {
        background: #010101;
        background: url('../img/26.jpg') no-repeat;
        background-size: auto;
        background-position: 45% 10%;
    }    
    
    /*********** Rescale fonts ***********/
    .job-infos > h1 {
        font-size: 1.6em; /* fallback */
        font-size: 4.4vw; 
       
    }

    .job-detail > h2 {
        font-size: 1.0em; /* fallback */
        font-size: 2.75vw; 
        font-weight: bold;
       
    }

    #name-surname {
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 1.7em;
        padding: 0;
        
    }

    .about-text:last-child {
        font-size: 0.8em;
        
    }

    /*********** Grid > Flex ***********/
    .resume {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    

    /*********** work scroll ***********/
    #work {
        position: relative;
        height: 30em;
        overflow: hidden;
        padding-bottom: 2.5em;
    }
    #work-box {  
        display: flex;      
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */  
    }
    
    #work-box::-webkit-scrollbar {
        display: none;
    }

    .event {
        width: 110%;
    }
    #photo {
        /*order: -1;*/
    }
    
    /********** work: timeline reposition **********/
    .timeline .event:before {
        left: -11.5em;
    }
    .timeline .event:after {
            left: -4.5em;
    }
    .timeline {
        padding: 2em 0em 1.5em 4em;
        margin: 1em 0em 0em 3em;  
    }

    .job-infos {
        left: -2.5em;
        padding-right: 0;
        
    }

    .job-discription-list:last-child {
        padding-bottom: 0.3em;
    }

    
    
    
}

@media only screen and (max-width: 388px) {
        p, .job-discription-list > li {
            font-size: 12px;
        }

        .job-infos > h1 {
            font-size: 1em;
            letter-spacing: 1.4px;
        }

        .job-discription-list {
            padding: 0.1em;
        }
        #work {
            height: 31em;
        }

}

@media only screen and (max-width: 342px) {
        #work {
            height: 32em;
        }
}