/*reusables

-colors-
bright yellow   |   color: 
dark grey       |   color: 
job h1 h2       |   color: #999;
silver fox      |   color: #d4d4dc;
are ya yellow   |   color: #feda6a;
deep matte grey |   color: #393f4d;
dark slate      |   color: #1d1e22;
charcoal black  |   color: #040404;

-backgrounds-
work timeline   |   background: rgba(253, 250, 250, 0.03);
-borders-
grid:           |   1px solid rgba(255,255,255,.3);
grid:hover      |   border: 1px solid rgba(255, 255, 255, 0.932);
work timeline   |   border-left: 0.25em solid rgb(255, 230, 0);
work timeline h1|   border-bottom: 1px solid rgb(255, 230, 0, 0.2);

-font-size-
body            |   font-size: 1.2em; 
h1              |   font-size: 1.4em;
h2              |   font-size: 1.0em;
p               |   font-size: 0.8em;



/*===================== Document: general typography and background =====================*/

* {
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
  }

body {
    background: url('../img/26.jpg') no-repeat;
    /*background: #010101;*/
    background-size: cover;
    padding-top: 1rem;
    color: rgb(253, 251, 251);
    font-size: 1.2em;
    font-family: 'Atlas', sans-serif;
    text-shadow: 3px 3px 5px rgb(8, 8, 8);
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.0em;
}

h3 {
    font-size: 0.8em;
}

p {
    font-size: 0.8em;
}

/*===================== Resume: grid area setup 2 col x 4 row =====================*/

.wrapper {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.resume {
    display: grid;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 900px;
    height: 1272px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    grid-template-areas:
        "name  photo"
        "work  about"
        "work  skills"
        "education  languages";
}

hr {
    color: red;
}
.grid-area {
    padding: 1em 1em 1em 1em;
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 5px;
    background: inherit;
    background-color: rgba(253, 251, 251, 0.5);
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 2px 2px 0px rgba(7, 7, 7, 0.3),
    3px 3px 0px rgba(8, 8, 8, 0.719),
    -0px -1px 0px rgba(247, 246, 246, 0.3),
    -1px -0px 0px rgba(250, 249, 249, 0.438);    
}

.grid-area:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 300px rgba(255,255,255,.5); */
    filter: blur(10px);
    margin: -20px; 
}

.grid-area:hover {
    border: 1px solid rgba(255, 255, 255, 0.932);
    box-shadow: 2px 2px 2px rgba(250, 248, 248, 0.4), inset 0 0 3000px rgba(204, 186, 23, 0.445);
    right: 2px;
    bottom: 2px;
    /*filter: blur(0px);*/
    
}
/************ 7 grids ************/
#name {
    grid-area: name;
}

#photo {
    grid-area: photo;
}

#about {
    grid-area: about;
        
}

#work {
    grid-area: work;
}

#skills {
    grid-area: skills;
}

#education {
    grid-area: education;
}

#languages {
    grid-area: languages;
}

/*====================================== Grids: layout ======================================*/

/************** Grid 1: name and introduction **************/
                #name-surname {
                    text-transform: uppercase;
                    font-size: 2.3em;
                    
                }

/************** Grid 2: picture ***************/
                #photo {
                    display: flex;
                    justify-content: center; 
                    align-items: center;
                } 

                .circle {
                    border: 0px solid rgb(150, 145, 145);
                    height: 10em;
                    width: 10em;
                    /* border-top: 2px solid rgba(204, 186, 23, 0.253);
                    border-left: 2px solid rgba(204, 186, 23, 0.226); */
                    border-radius: 50%;
                    position: relative;
                    margin: 0 auto;
                    overflow: hidden;
                    box-shadow: 0px -1px 1px rgba(17, 17, 17, 0.541),
                    1px 1px 2px rgba(250, 248, 248, 0.514);
                    
                }

                #profile-picture {
                    height: 12em;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0.4em;    
                    
                }

                #photo:hover #circle {
                    border: 0px solid rgb(253, 252, 252);
                    box-shadow: 0px -2px 3px rgba(250, 249, 249, 0.384),
                    3px 2px 3px rgb(0, 0, 0);
                    
                }

/************** Grid 3: about **************/
                .about-box {
                    height: 87%;
                    text-align: center;
                    margin: 0.5em auto;
                    padding: 1em;
                    background: rgba(253, 250, 250, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }

/************** Grid 4: work experience timeline **************/   
                
                /************** General **************/        
                #work {
                    padding-top: 2.1em;
                }
                .work-box {
                    text-align: center;
                    overflow-y: scroll;
                    height: 100%;
                    -ms-overflow-style: none;  /* IE and Edge */
                    scrollbar-width: none;  /* Firefox */
                    
                }
                .work-box::-webkit-scrollbar {
                    display: none;
                }

                /************** Timeline **************/
                .timeline {
                    border-left: 0.25em solid rgb(255, 230, 0);
                    margin: 2em auto;
                    padding: 2em 1em 2em 1em ;
                    padding-left: 1.5em;
                    list-style: none;
                    text-align: right;
                    margin-left: 4.3em;
                    border-radius: 0.5em;
                    background: rgba(253, 250, 250, 0.03);
                    /*min-width: 15em;*/
                }

                .event {
                    /*min-width: 15em;*/
                    width: 100%;
                    vertical-align: middle;
                    box-sizing: border-box;
                    position: relative;
                }

                .timeline .event:before,
                .timeline .event:after {
                    position: absolute;
                    display: block;
                    top: 1em;
                }

                .timeline .event:before {
                    left: -10em;
                    top: 0.9em;
                    color: rgba(255, 255, 255, 0.8);
                    content: attr(data-date);
                    text-align: center;
                    font-weight: 100;
                    font-size: 0.9em;
                    min-width: 9em;
                }

                .timeline .event:after {
                    content: "";  
                    left: -2.0em;
                    background: black;
                    border-radius: 50%;
                    height: 0.75em;
                    width: 0.75em;
                    box-shadow: 0 0 0 0.2em rgb(255, 230, 0);
                }

                .timeline .event .job-detail,
                .timeline .event .job-discription {
                    display: block;
                }

                /************** Infos - Title - Detail **************/
                .job-infos {
                    padding: 0.6em 0px 1em 0px;
                    text-align: left;
                    position: relative;
                }

                .job-infos > h1 {
                    font-family: 'Atlas', sans-serif;
                    letter-spacing: 1.5px;
                    font-size: 1.4em;
                    font-weight: bold;
                    color: #999;
                    margin: 0;
                    border-bottom: 1px solid rgb(255, 230, 0, 0.2);
                    padding-bottom: 0.2em;                   
                }
                
                .job-title {
                    cursor: context-menu;
                }
                
                .job-detail {
                    text-indent: 2px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-out;                   
                }
                
                .job-detail > h2 {
                    font-family: 'Atlas', sans-serif;
                    letter-spacing: 1.5px;
                    color:  #999;
                    font-weight: 100;
                    font-size: 1.0em;
                    padding-top: 0.3em;
                }

                .job-detail > p {
                    font-family: 'Atlas', sans-serif;
                    color:  rgb(252, 249, 249);
                    font-size: 0.8em;
                    padding-top: 0.3em;
                }
                    
                .job-detail a:before {
                    margin-right: 5px;
                    
                }


/************** Grid 5: skills and certificates **************/
                
                /************** General **************/
                
                #skills:hover .skills-box {
                    border: 1px solid rgba(32, 32, 32, 0.932);
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    background: #010101;
                    right: 2px;
                    bottom: 2px;
                }
                .skills-box {
                    height: 87%;
                    margin: 0.5em auto;
                    background: rgba(5, 0, 0, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }
                .skills-box:hover {
                    
                    
                    /*filter: blur(0px);*/
                    
                }
                
                .skills-tab {
                    width: 100%;
                    overflow: hidden;
                    /*border-bottom: 2px solid rgb(255, 230, 0);*/
                    border-radius: 3px;
                    /*background-color: rgb(255, 230, 0);*/
                    display: flex;
                    justify-content: space-evenly;
                }
                .skills-tab button {
                    float: left;
                    min-width: 33.33333%;
                    border: none;
                    /*border: 2px solid rgb(247, 6, 6);*/
                    background-color: #010101;
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    border-radius: 3px;
                    cursor: pointer;
                    color:   rgb(255, 230, 0);
                    font-size: 0.9em;
                }
                .skills-tab button:hover {
                    background-color: black;
                    
                }
                .skills-tab button.active {
                    box-shadow: inset 3px 3px 5px rgba(247, 243, 243, 0.4);
                    background-color:#010101;
                    border-bottom: 2px solid rgb(255, 230, 0);
                }
                
                .skill-div {
                    display: none;
                    padding-top: 0.5em;
                }
                
                .skill-div:first-child {
                    display: block;
                    padding-top: 0.5em;
                }

                .skill-div p {

                }
                
                .skill-div h3 {

                }
    

/************** Grid 6: languages bar **************/
                
             
                .language-box {
                    /*width: 500px;*/
                    /*margin: 60px auto;*/
                    color: white;
                    list-style: none;
                    /*background: rgba(253, 250, 250, 0.03);*/
                    
                    
                }
                
                .language-box li {
                    margin: 0.9em 0;
                    
                    
                }
                .language-box li p {
                    margin: 0.2em 0;
                    font-size: 0.8em;
                    padding-bottom: 0.2em;
                    
                }
                
                .language-bar {
                    background: #080808;
                    display: block;
                    height: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 10px;
                    box-sizing: initial;
                    box-shadow: 0 0 5px rgb(255, 230, 0);
                }
                
                .language-bar span {
                    height: 3px;
                    float: left;
                    background: rgb(255, 230, 0);
                    box-sizing: initial;
                }
                
                #languages:hover #dutch {
                    width: 97%;
                    animation: dutch 2s;
                }                
                #languages:hover #english {
                    width: 85%;
                    animation: english 2s;
                }                
                #languages:hover #french {
                    width: 75%;
                    animation: french 2s;
                }                
                #languages:hover #german {
                    width: 60%;
                    animation: german 2s;
                }                
                #languages:hover #croatian {
                    width: 25%;
                    animation: croatian 2s;
                }                
                    @keyframes dutch {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 97%;
                        }
                    }                    
                    @keyframes english {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 85%;
                        }
                    }                    
                    @keyframes french {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 75%;
                        }
                    }                    
                    @keyframes german {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 60%;
                        }
                    }                    
                    @keyframes croatian {
                        0% {
                        width: 0%;
                        }
                        100% {
                        width: 25%;
                        }
                    }

/************** Grid 7: education **************/             
                .education-box {
                    height: 87%;
                    text-align: center;
                    margin: 0.5em auto;
                    padding: 1em;
                    background: rgba(253, 250, 250, 0.03);
                    border: 1px solid rgb(255, 230, 0, 0.2);
                    border-radius: 5px;
                }      
                
         
            
/*=================================== Responsive ===================================*/
            

@media only screen and (max-width: 700px) {

    /*********** Grid > Flex ***********/
    
        
    
    .resume {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        width: 98%;
        
    }

    /*********** work scroll ***********/
    #work {
        position: relative;
        height: 35em;
        overflow: hidden;
    }
    #work-box {        
        overflow-y: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    
    #work-box::-webkit-scrollbar {
        display: none;
    }

    
    #photo {
        /*order: -1;*/
    }
    
    /********** work: timeline **********/
    .timeline .event:before {
        left: -11.5em;
    }
    .timeline .event:after {
            left: -4.5em;
    }
    .timeline {
        border-left: 0.25em solid rgb(204, 186, 23);
        padding-left: 4em;
        margin-left: 3em;
        width: 100%;
    }

    .job-infos {
        left: -2.5em;
        padding-right: 0;
        }
    
    #name-surname {
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 1.7em;
        
    }
}
